* {
    font-family: "Roboto", sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Urbanist", sans-serif;
}
:root {
    --primary-color: #c5cbe3;
    --secondary-color: #4056a1;
    --accent-color: #eb5757;
}
.h-400 {
    height: 400px;
}

.bg-beige {
    background-color: beige;
}

.bg-pr {
    background-color: var(--primary-color) !important;
}
.bg-sec {
    background-color: var(--secondary-color) !important;
}
.bg-acc {
    background-color: var(--accent-color) !important;
}
.bg-grey-cs {
    background-color: rgb(247, 247, 247) !important;
}

.cl-pr {
    color: var(--primary-color) !important;
}

.cl-sec {
    color: var(--secondary-color) !important;
}
.cl-acc {
    color: var(--accent-color) !important;
}

.cl-white {
    color: white !important;
}

.navbar-toggler:focus {
    box-shadow: none !important;
}
.header-img {
    background-image: url(/media/lake-header.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    position: relative;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
}

.position-header-text {
    position: absolute;
    top: 100px;
    left: 25px;
}

.header-text {
    color: white;
    width: 30vw;
}

.header-p {
    color: white;
    font-size: larger;
    font-weight: 500;
}

.btn-post {
    position: absolute;
    border: solid 1px white;
    color: white;
    border-radius: 5px;
    font-size: large;
}

.btn-post2 {
    border: solid 1px black;
    color: black;
    border-radius: 5px;
    font-size: large;
}

.btn-post:hover {
    background-color: white;
}

.card-cs {
    border-radius: 5px;
    height: fit-content;
}

.box-shadow {
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
}

.bg-grey-dashboard {
    background-color: #eeeeee;
}

.wide {
    min-height: 80vh;
}

/* @media screen and (max-width: 600px) {
    .card-cs {
        height: 50vh;
    }

    .img-sm {
        height: 40vh;
    }
} */

#InputDescription {
    height: 75px;
}

.h-custom {
    height: 68vh !important;
}

#InputDate {
    width: 200px;
}

.border {
    border: solid 1px black !important;

    border-radius: 24px;
}

@media screen and (max-width: 600px) {
    .sidebar {
        display: none;
    }
}

.btn-cerca {
    border: solid 1px black;
    color: black;
    border-radius: 5px;
}

.btn-cerca:hover {
    color: white;
    background-color: black;
}
